<%= render 'shared/page_title', title: "Edit teacher" %>

<div class="container">
  <%= link_to teacher_path do %>
    <h4><i class="glyphicon glyphicon-chevron-left">Back</i></h4>
  <% end %>
</div>

<%= render 'form' %>
